

<ion-content class="gamer-news-content">
  <ion-grid>
    <ion-row>
      <!-- Noticia 1 -->
      <ion-col size="12" size-md="6">
        <div class="news-item">
          <ion-img src="assets/cyber.jpg" alt="Cyberpunk 2077"></ion-img>
          <div class="news-overlay"></div>
          <div class="news-content">
            <h2>Anunciado el lanzamiento de "Cyberpunk 2077"</h2>
            <p>Los fanáticos están ansiosos por explorar el futurista mundo abierto de Night City.</p>
          </div>
        </div>
      </ion-col>
      <!-- ... (resto de las noticias) ... -->



      <!-- Noticia 2 -->
      <ion-col size="12" size-md="6">
        <div class="news-item">
          <ion-img src="assets/valo.png"></ion-img>
          <div class="news-content">
            <h2>"Valorant" lanza nuevo mapa y agente</h2>
            <p>Riot Games sorprende con la incorporación de contenido fresco y emocionante en su popular FPS.</p>
          </div>
        </div>
      </ion-col>

      <!-- Noticia 3 -->
      <ion-col size="12" size-md="6">
        <div class="news-item">
          <ion-img src="assets/wow.jpg"></ion-img>
          <div class="news-content">
            <h2>Nueva expansión para "World of Warcraft"</h2>
            <p>Descubre nuevos territorios y enfréntate a desafíos inéditos en la última expansión del MMORPG más icónico.</p>
          </div>
        </div>
      </ion-col>

      <!-- Noticia 4 -->
      <ion-col size="12" size-md="6">
        <div class="news-item">
          <ion-img src="assets/xbox.jpg"></ion-img>
          <div class="news-content">
            <h2>Microsoft anuncia Game Pass para PC</h2>
            <p>Accede a un extenso catálogo de juegos para PC por una suscripción mensual.</p>
          </div>
        </div>
      </ion-col>

      <!-- Noticia 5 -->
      <ion-col size="12" size-md="6">
        <div class="news-item">
          <ion-img src="assets/elden.jpg"></ion-img>
          <div class="news-content">
            <h2>Revelado trailer de "Elden Ring"</h2>
            <p>FromSoftware y George R.R. Martin colaboran en un esperado título de acción y fantasía.</p>
          </div>
        </div>
      </ion-col>

      <!-- Noticia 6 -->
      <ion-col size="12" size-md="6">
        <div class="news-item">
          <ion-img src="assets/assa.jpg"></ion-img>
          <div class="news-content">
            <h2>Ubisoft presenta "Assassin's Creed: Valhalla"</h2>
            <p>Vive la era vikinga en la última entrega de la aclamada franquicia de Assassin's Creed.</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>






<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <div class="animated-title">Últimas Noticias Gamer</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

