<ion-app>
  <ion-header *ngIf="isLoggedIn">
    <ion-toolbar color="dark">
      <!-- Logo de la Empresa -->
      <img src="../../assets/123.png" alt="Logo de tu Empresa" class="logo"/>
      <ion-buttons slot="end">
        <ion-menu-toggle auto-hide="false">
          <ion-button fill="clear" *ngFor="let p of appPages; let i = index" [routerLink]="p.url" class="nav-button">
            <ion-icon slot="icon-only" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        <ion-button fill="clear" (click)="logout()" class="logout-button">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- Habilitando las animaciones nuevamente -->
  <ion-router-outlet id="main-content" [animated]="true"></ion-router-outlet>
</ion-app>
